name: Release Live
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    strategy:
      matrix:
        component_path: [
          "global/s3",
          "prod/services/data-stores/pg",
          "prod/services/webserver-cluster",
          "stage/services/data-stores/pg",
          "stage/services/webserver-cluster"
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Release Component
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release --extends ./${{ matrix.component_path }}/.releaserc.json

